nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/")= title
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        each item in navbar.left
          li
            a(href= item.href)= item.text
      ul.nav.navbar-nav.navbar-right
        each item in navbar.right
          li
            a(href= item.href)= item.text
div.page-header
